<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fay AI Livestream</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/setting.css') }}"/>
    <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/element/index.css') }}">
  </head>

  <body>
    <div class="main_bg" id="app">
      <div class="main_left">
        <div class="main_left_logo"><img src="{{ url_for('static',filename='images/Logo.png') }}" alt="">
        </div>

      <div class="main_left_menu">
        <ul>
          <li class="changeImg"><a href="/"><span class="iconimg1">Tin nhắn</span></a></li>
          <li class="changeImg2"><a href="/setting"><span class="iconimg2">Nhân vật</span></a></li>
          <li class="changeImg3" :class="{'mcp-online': mcpOnlineStatus}"><a :href="'http://' + hostname + ':5010/Page3'"><span class="iconimg3"><span class="mcp-online-indicator"></span>MCP</span></a></li>
        </ul>
      </div>

      <div class="main_left_emoji"><img src="{{ url_for('static',filename='images/emoji.png') }}" alt="">
      </div>
      </div>

      <div class="main_right">
        <div class="setting_fay_top"><span style="color: #000; font-size: 20px; padding-right: 10px;">Cài đặt nhân vật</span></div>

        <div class="setting_fay">
          <div class="setting_name">
            <ul>
              <li> <span class="font_name">Tên&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span><input class="section_1" :disabled="!configEditable" v-model="attribute_name" placeholder="Nhập nội dung"></li>
              <li> <span class="font_name">Giới tính:</span><input class="section_1" :disabled="!configEditable" v-model="attribute_gender" placeholder="Nhập nội dung"/></li>
              <li> <span class="font_name">Tuổi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span><input class="section_1" :disabled="!configEditable" v-model="attribute_age" placeholder="Nhập nội dung"/></li>
              <li> <span class="font_name">Nơi sinh:</span><input class="section_1" :disabled="!configEditable" v-model="attribute_birth" placeholder="Nhập nội dung"/></li>
              <li> <span class="font_name">Cung hoàng đạo&nbsp;:</span><input class="section_1" :disabled="!configEditable" v-model="attribute_zodiac" placeholder="Nhập nội dung"/></li>
              <li> <span class="font_name">Chòm sao&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span><input class="section_1" :disabled="!configEditable" v-model="attribute_constellation" placeholder="Nhập nội dung"/></li>
              <li> <span class="font_name">Định vị&nbsp;&nbsp;&nbsp;:</span>
                <select class="section_1" :disabled="!configEditable" v-model="attribute_position" placeholder="Chọn định vị">
                  <option value="客服">Chăm sóc khách hàng</option>
                  <option value="陪伴">Người bạn đồng hành</option>
                  <option value="教培">Giáo dục & Đào tạo</option>
                  <option value="娱乐">Giải trí</option>
                  <option value="销售">Bán hàng</option>
                  <option value="助理">Trợ lý</option>
                </select>
              </li>
            </ul>
          </div>
          <div class="setting_work">
            <ul>
              <li> <span class="font_name">Mục tiêu&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                <select class="section_1" :disabled="!configEditable" v-model="attribute_goal" placeholder="Chọn mục tiêu">
                  <option value="解决问题">Giải quyết vấn đề</option>
                  <option value="陪伴情感">Đồng hành cảm xúc</option>
                  <option value="提供知识">Cung cấp kiến thức</option>
                  <option value="促成交易">Chốt đơn hàng</option>
                  <option value="工作协助">Hỗ trợ công việc</option>
                </select>
              </li>
              <li> <span class="font_name">Nghề nghiệp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span><input class="section_1" :disabled="!configEditable" v-model="attribute_job" placeholder="Nhập nội dung"/></li>
              <li> <span class="font_name">Liên hệ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span><input class="section_1" :disabled="!configEditable" v-model="attribute_contact" placeholder="Nhập nội dung"/></li>
              <li> <span class="font_name">File Q&A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span><input class="section_1" :disabled="!configEditable" v-model="QnA" placeholder="Nhập nội dung"/></li>
              <li> <span class="font_name">Bổ sung&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span><textarea v-model="attribute_additional" class="section_1" style="height: 165px;vertical-align: middle;"></textarea></li>
            </ul>
          </div>
          <div class="setting_rup">
          <div class="setting_wakeup">
            <ul>
              <li> <span class="font_name">Chế độ kích hoạt:</span>
                <el-switch @change=saveConfig()
                v-model="wake_word_enabled"
                active-color="#13ce66"
                inactive-color="#ff4949">
              </el-switch>
              </li>
              <li> <span class="font_name">Từ kích hoạt&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                <input v-model="wake_word" placeholder="Nhập từ khoá (cách nhau bằng dấu ,)" :disabled="!configEditable" class="section_1"/></li>
              <li> <span class="font_name">Kiểu kích hoạt&nbsp;&nbsp;:</span>
                <select class="section_1" v-model="wake_word_type" :disabled="!configEditable">
                  <option v-for="item in wake_word_type_options" :key="item.value"
                  :label="item.label" :value="item.value">
              </option>
              </select></li>
            </ul>
          </div>

             <div class="microphone">
              <div class="microphone_group1">
                <span class="font_name">Loa máy chủ</span>
                <el-switch v-model="play_sound_enabled" active-color="#13ce66" inactive-color="#ff4949" @change=saveConfig()></el-switch>
              </div>
              <div class="microphone_group1">
                <span class="font_name">Micro máy chủ</span>
                <el-switch v-model="source_record_enabled" active-color="#13ce66" inactive-color="#ff4949" @change=saveConfig()></el-switch>
              </div>
            </div>
            <div class="setting_wakeup">
              <ul>
              <li> <span class="font_name">Chọn giọng nói:</span>
                <select v-model="attribute_voice" placeholder="Chọn giọng" class="section_1" style="height: 39px;" :disabled="!configEditable">
                  <option v-for="item in voiceList" :key="item.value"
                  :label="item.label" :value="item.value">
              </option>
              </select></li>
              <li style="display: flex;"> <span class="font_name" style="line-height: 36px;">Độ nhạy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                <el-slider style="width: 230px;" v-model="interact_perception_follow" :disabled="!configEditable"></el-slider></li>
              <li> <span class="font_name">Tách biệt nhận thức:</span>
                <el-switch v-model="memory_isolate_by_user" :disabled="use_bionic_memory" active-color="#13ce66" inactive-color="#ff4949" @change=saveConfig()></el-switch>
                <span style="font-size: 12px; color: #666; margin-left: 10px;">Bật để mỗi người dùng có bộ nhớ riêng</span>
              </li>
            </ul>
          </div>

        </div>

        </div>

        <div class="setting_autoplay">
          <div><el-switch
            v-model="automatic_player_status" @change=saveConfig()
            active-color="#13ce66"
            inactive-color="#ff4949">
          </el-switch><span class="font_name" style="margin-left: 10px;">Tự động phát:</span>
          <input class="section_2" v-model="automatic_player_url" placeholder="http://127.0.0.1:6000" :disabled="!configEditable"/>
        </div>
        </div>
        <div style="margin-top: 40px; position: relative; width: 100%; text-align: center;">
          <div style="display: inline-block; position: absolute; left: 30%; transform: translateX(-50%);">
            <el-button style="width: 160px; height: 50px;" :disabled="!configEditable" @click=saveConfig()>Lưu cấu hình</el-button>
          </div>

          <div style="display: inline-block; position: absolute; left: 70%; transform: translateX(-50%);">
            <el-button v-if="liveState == 1" type="success" class="btn_close"
            style="width: 160px; height: 50px; background-color: #007aff;" @click=stopLive()>Tắt (Đang chạy)</el-button>
            <el-button v-else-if="liveState == 2" type="primary" plain disabled
            style="width: 160px; height: 50px; background-color: #007aff;">Đang khởi động...</el-button>
            <el-button v-else-if="liveState == 3" type="success" plain disabled
            style="width: 160px; height: 50px; background-color: #007aff;">Đang tắt...</el-button>
            <el-button v-else type="primary" style="width: 160px; height: 50px; background-color: #007aff;"
                @click=startLive()>Bật</el-button>
          </div>
        </div>
        <div style="margin-top: 100px; position: relative; width: 100%; text-align: center;">
          <div style="display: inline-block; position: absolute; left: 30%; transform: translateX(-50%);">
            <a href="javascript:void(0)" @click="clearMemory" style="color: #007aff; font-size: 14px; text-decoration: none;">Xoá bộ nhớ</a>
          </div>
          <div style="display: inline-block; position: absolute; left: 70%; transform: translateX(-50%);">
            <a href="javascript:void(0)" @click="clonePersonality" :style="{color: use_bionic_memory ? '#ccc' : '#007aff', fontSize: '14px', textDecoration: 'none', cursor: use_bionic_memory ? 'not-allowed' : 'pointer'}">Sao chép tính cách</a>
          </div>
        </div>
        <div style="height: 60px;"></div>
      </div>

    </div>

    </body>
    <script src="{{ url_for('static',filename='js/vue.js') }}"></script>
    <script src="{{ url_for('static',filename='js/element.js') }}"></script>
    <script src="{{ url_for('static',filename='js/setting.js') }}"></script>

</html>
